rust/day1/target
rust/day2/target
rust/day3/target
rust/day4/target
rust/day5/target
rust/day6/target
rust/day7/target
rust/day9/target
rust/day11/target
rust/day10/target
rust/day12/target
rust/day13/target
go/day1/bin
go/day2/bin
rust/day15/target
go/day3/bin
